.article {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--color-footer);
}
.article-image {
    width: 100%;
    height: 100%;
    background: var(--color-footer);
}
.article-image img {
    width: 100%;
    height: 100%;
}
.article-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1rem 1.5rem;
    height: 100%;
}
.article-content p {
    font-weight: bold;
    font-size: 11.649px;
    line-height: 35px;
    color: #fff
}
.article-content h3 {
    font-weight: 800;
    font-size: 25.11px;
    line-height: 30px;
    color: #fff;

    margin: 1rem 0 5rem;    
}
.article-content p:last-child { cursor: pointer; }

@media screen and (max-width:550px) {
    .article-content h3 {
        font-size: 18px;
        line-height: 25px;
    }
}