.feature-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    margin: 1rem;
}
.feature-title {
    flex: 1;
    max-width: 180x;
    margin-right: 2rem;
}

.feature-title h1 {
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #fff;
}

.feature-title div {
    width: 38px;
    height: 3px;
    background: var(--gradient-bar);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.25rem;
}

.feature-text {
    flex: 2;
    max-width: 390px;
}

.feature-text p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-text);
}

@media screen and (max-width: 550px) {
    .feature-title h1 {
        font-size: 14px;
        line-height: 22px;
    }

    .feature-text p {
        font-size: 12px;
        line-height: 20px;
    }

    .feature {
        margin: 1rem 0;
    }
}