.blog {
    display: flex;
    flex-direction: column;
}
.blog-heading {
    width: 100%;
    text-align: left;

    margin-bottom: 5rem;
}
.blog-heading h1 {
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04rem;
}
.blog-container { display: flex; }
.blog-groupA {
    flex: 0.75;
    margin-right: 2rem;
}
.blog-groupB {
    flex: 1;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

@media screen and (max-width: 990px) {
    .blog-container { flex-direction: column-reverse; }
    .blog-groupA { margin: 2rem 0;}
    .blog-groupA .article {width: 48%;}
    .blog-groupA .article-image {height: 250px;}
}
@media screen and (max-width:700px) {
    .blog-groupB {  grid-template-columns: repeat(1, 1fr); }
    .blog-groupA .article { width: 100%; }
    .blog-heading h1 {
        font-size: 46px;
        line-height: 52px;
    }
}
@media screen and (max-width:550px){
    .blog-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }
}