 /* BEM -> Block Element Modifier - CSS naming convention */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 6rem;
}
.navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.navbar-logo {
    width: 62.56px;
    height: 16.02px;
    margin-right: 3rem;
}
.navbar-container1 { display: flex; }
.navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    cursor: pointer;
}
.navbar p {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
}
.navbar-sign button,
.navbar-container2_btn {
    padding: 0.5rem 1rem;
    color: #fff;
    background: #FF4820;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;

    border-radius: 5px;
    border: 0;
    outline: none;

    cursor: pointer;
}
.navbar-menu-sm {
    margin-left: 1rem;

    display: none;
    position: relative;
}
.navbar-menu-sm svg { cursor: pointer; }
.navbar-container2 {
    display:  flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: end;
    background: var(--color-footer);

    position: absolute;
    top: 40px;
    right: 0;

    margin-top: 1rem;
    padding: 2rem;
    min-width: 210px;

    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0,0,0,0.2);
}
.navbar-container2 p { margin: 1rem 0; }
.navbar-container2_sign { display: none; }

@media screen and (max-width:1050px) {
    .navbar-container1 { display: none; }
    .navbar-menu-sm { display: flex; }
}
@media screen and (max-width:700px) { .navbar { padding: 2rem 4rem; } }
@media screen and (max-width:550px) {
    .navbar { padding: 2rem; }
    .navbar-sign { display: none; }
    .navbar-container2 { top: 20px}
    .navbar-container2_sign { display: block; }
}